# ===============================
# MongoDB (local / docker data)
# ===============================
mongo-data/
mongo-config/

# MongoDB init script (contains creds / setup)
init-mongo.js

# ===============================
# Docker
# ===============================
docker-compose.yml

# ===============================
# Swagger
# ===============================
swagger-admin.json
swagger-workflow.json

repo_code.md
export_repo_md.sh

# ===============================
# OS / IDE (recommended extras)
# ===============================
.DS_Store
*.log

# IntelliJ / IDE
.idea/
*.iml
out/
target/
